.article-unit{
  //background: #02fee5;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
  padding: 15px;
  h2 {
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 6px;
  }
  span {
    color: #a1a2a2;
    font-size: 14px;
    margin-right: 14px;
  }
}

